<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment::head"></head>
<body class="body_wrapper">
<header th:replace="fragments/fragment::nav-bar"></header>
<main class="background-image-2 hero-image">
    <div class="all-users-box container" th:object="${cocktailViewModel}">
        <h1 class="text-center text-white py-3">Cocktail Details</h1>
        <div class="d-flex" id="cocktail-box">

            <img class="h-25 rounded" th:src="*{imgUrl}" id="cocktail_details_img">

            <div class="flex-column mx-4">
                <div><h3 th:text="*{name}" class=""></h3></div>
                <div><p th:text="*{description}"></p></div>
                <div><p th:text="*{preparation}"></p></div>
                <div>
                    <ul>
                        <li th:each="i: ${ingredients}" th:object="${i}" th:text="*{name}"
                            style="list-style: circle inside;"></li>
                    </ul>
                </div>
                <div class="bg-transparent rounded">
                    <div class="rounded embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" th:src="'https://www.youtube.com/embed/' + *{videoUrl}"
                                allowfullscreen></iframe>
                    </div>
                </div>
                <div class="d-flex justify-content-around my-3">
                    <div th:if="${!alreadyInFavorite}">
                        <form th:action="@{/cocktails/addToFavorites/{id}(id=${cocktailViewModel.id})}" method="POST">
                            <button class="btn btn-dark btn-width">Add to Favorites</button>
                        </form>
                    </div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')"><a
                            th:href="@{/cocktails/edit/{id}(id=${cocktailViewModel.id})}" class="btn btn-dark">Edit</a>
                    </div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <form th:action="@{/cocktails/delete/{id}(id=${cocktailViewModel.id})}" method="POST">
                            <button class="btn btn-dark btn-width">Delete</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/fragment::footer"></footer>
</body>
</html>