<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment::head"></head>
<body class="body_wrapper">
<header th:replace="fragments/fragment::nav-bar"></header>
<main class="background-image-2 hero-image">
    <div class="all-users-box container">
        <h1 class="text-center text-white py-3">Ingredients</h1>

        <div class="my-3 d-flex justify-content-center">
            <form th:method="POST"
                  th:action="@{/ingredients/add}"
                  th:object="${ingredientBindingModel}"
                  class="flex-column ">
                <div class="form-group">
                    <label for="name" class="text-white mb-1"></label>
                    <input th:field="*{name}" th:errorclass="bg-danger" type="text" placeholder="Ingredient Name"
                           id="name"
                           class="form-control">
                    <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" id="nameError"
                           class="text-light form-text bg-danger rounded"></small>
                    <small th:if="${nameExists}" class="text-light form-text bg-danger rounded">
                        Product already exists!
                    </small>
                </div>
                <div class="form-group">
                    <label for="description" class="text-white mb-1"></label>
                    <textarea th:field="*{description}" th:errorclass="bg-danger" type="text" placeholder="Description"
                           id="description"
                           class="form-control"
                            rows="5">
                    </textarea>
                    <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" id="descriptionError"
                           class="text-light form-text bg-danger rounded"></small>

                </div>
                <div class="form-group">
                    <label for="imgUrl" class="text-white mb-1"></label>
                    <input th:field="*{imgUrl}" th:errorclass="bg-danger" type="text" placeholder="Ingredient Image URL"
                           id="imgUrl"
                           class="form-control">
                    <small th:if="${#fields.hasErrors('imgUrl')}" th:errors="*{imgUrl}" id="imgUrlError"
                           class="text-light form-text bg-danger rounded"></small>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-dark">Add Ingredient</button>
                </div>
            </form>
        </div>

        <table class="table table-sm table-hover mx-auto" th:object="${ingredients}">
            <tbody>
            <th:block th:each="i, iter: ${ingredients}" th:object="${i}">
                <tr class="row mx-auto">
                    <th class="col-sm-1 d-flex justify-content-center align-items-center">
                        <span class="font-weight-bold" th:utext="${iter.index + 1}"></span>
                    </th>
                    <td class="col-sm-2 text-center">
                        <div class="bg-white rounded">
                            <img class="img-thumbnail" th:src="*{imgUrl}">
                        </div>
                    </td>
                    <td class="col-sm-5 flex-column justify-content-center align-items-center">
                        <h3 class="font-weight-bold my-2" th:utext="*{name}"></h3>
                        <p class="font-weight-bold" th:text="*{description}"></p>
                    </td>
                    <td class="col-sm-2 d-flex justify-content-center align-items-center">
                        <a th:href="@{/ingredients/edit/{id}(id=${i.id})}" class="btn btn-dark">Edit</a>
                    </td>
                    <td class="col-sm-2 d-flex justify-content-center align-items-center">
                        <a th:href="@{/ingredients/delete/{id}(id=${i.id})}" class="btn btn-dark">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</main>
<footer th:replace="fragments/fragment::footer"></footer>
</body>
</html>