<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment::head"></head>
<body class="body_wrapper">
<header th:replace="fragments/fragment::nav-bar"></header>
<main class="background-image-2 hero-image">
    <div th:object="${ingredientBindingModel}" class="container">
        <h2 class="text-center text-white m-5">Edit Ingredient</h2>
        <div>
            <div class="mx-auto w-25">
                <img class="img-thumbnail" th:src="*{imgUrl}">
            </div>
        </div>
        <form class="mx-auto w-75 register-form-wrapper"
              th:method="POST"
              th:action="@{/ingredientEntities/edit/{id} (id=${ingredientId})}">

            <div hidden>
                <label for="id"></label>
                <input th:field="*{id}" type="text" id="id" name="name" th:value="*{id}">
            </div>

            <div class="form-group">
                <label for="name" class="text-white mb-1">Name</label>
                <input th:field="*{name}"
                       th:value="*{name}"
                       type="text"
                       class="form-control"
                       id="name"
                       name="name"
                       required minlength="3" maxlength="30">>
                <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" id="titleError"
                       class="text-light form-text bg-danger rounded"></small>
                <small th:if="${nameExists}" id="nameExistsError" class="text-light form-text bg-danger rounded">Ingredient
                    already exists!</small>
            </div>
            <div class="form-group">
                <label for="description" class="text-white mb-1">Description</label>
                <textarea th:field="*{description}" type="text" class="form-control" id="description" name="description"
                          th:value="*{description}"
                          rows="5">
                </textarea>
                <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" id="descriptionError"
                       class="text-light form-text bg-danger rounded"></small>
            </div>
            <div class="form-group">
                <label for="imgUrl" class="text-white mb-1">Image Url</label>
                <input th:field="*{imgUrl}" type="text" class="form-control" id="imgUrl" name="imgUrl"
                       th:value="*{imgUrl}">
                <small th:if="${#fields.hasErrors('imgUrl')}" th:errors="*{imgUrl}" id="imgUrlError"
                       class="text-light form-text bg-danger rounded"></small>
            </div>
            <div class="mt-3 d-flex justify-content-center">
                <button type="submit" class="btn text-white border-1 border-light bg-dark">Edit Ingredient</button>
            </div>
        </form>
    </div>
</main>
<footer th:replace="fragments/fragment::footer"></footer>
</body>
</html>