<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment::head"></head>
<body class="body_wrapper">
<header th:replace="fragments/fragment::nav-bar"></header>
<main class="background-image-2 hero-image">
    <div class="container all-users-box" th:object="${article}">
        <h2 th:text="*{title}" class="text-dark text-center m-5"></h2>
        <div><img th:src="*{coverImgUrl}" class="img-fluid rounded w-50 mx-auto d-block"></div>
        <h3 th:text="*{description}" class="mt-5 mb-5"></h3>
        <p th:text="*{content}" class="container p-0"></p>
        <div class="d-flex justify-content-between">
            <div><p th:text="*{addedOn}" class="card-text"><small class="text-muted"></small></p></div>
            <div class="d-flex">
                <div sec:authorize="hasRole('ROLE_ADMIN')" class="p-1 m-1 border border-dark rounded"><a
                        class="text-black-50"
                        th:href="@{/articles/edit/{id} (id=*{id})}">Edit</a></div>
                <div sec:authorize="hasRole('ROLE_ADMIN')" class="p-1 m-1 border border-dark rounded"><a
                        class="text-black-50"
                        th:href="@{/articles/delete/{id} (id=*{id})}">Delete</a></div>
            </div>
        </div>
    </div>
    <div class="container all-users-box">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <section class="content-item" id="comments">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <form th:method="POST"
                              th:object="${commentBindingModel}"
                              th:action="@{/articles/{id}/add/comment  (id=${articleId})}">
                            <h3 class="pull-left">New Comment</h3>
                            <button type="submit" class="btn btn-normal pull-right">Submit</button>
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-3 col-lg-2 hidden-xs">
                                        <img class="img-responsive" th:src="${currentUserImg}" alt="user_img"
                                             style="max-width: 100px">
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                        <textarea
                                                th:field="*{content}"
                                                th:errorclass="is-invalid"
                                                class="form-control"
                                                id="message"
                                                placeholder="Your message"
                                                required="">
                                        </textarea>
                                    </div>
                                </div>
                            </fieldset>
                        </form>

                        <h3 th:text="|${commentsCount} comments|">4 Comments</h3>
                        <th:block th:each="c, iter: ${comments}" th:object="${c}">
                            <!-- COMMENT 1 - START -->
                            <div class="media">
                                <a class="pull-left"><img class="media-object" th:src="*{authorImgUrl}" alt=""></a>
                                <div class="media-body">
                                    <h4 th:text="*{author}" class="media-heading">John Doe</h4>
                                    <p th:text="*{content}"></p>
                                    <ul class="list-unstyled list-inline media-detail pull-left">
                                        <li><i th:text="${#temporals.format(c.addedOn, 'dd/MMM/yyyy HH:mm')}" class="fa fa-calendar"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </th:block>

                        <!-- COMMENT 2 - START -->
                        <!--                        <div class="media">-->
                        <!--                            <a class="pull-left" href="#"><img class="media-object" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt=""></a>-->
                        <!--                            <div class="media-body">-->
                        <!--                                <h4 class="media-heading">John Doe</h4>-->
                        <!--                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                        <!--                                <ul class="list-unstyled list-inline media-detail pull-left">-->
                        <!--                                    <li><i class="fa fa-calendar"></i>27/02/2014</li>-->
                        <!--                                    <li><i class="fa fa-thumbs-up"></i>13</li>-->
                        <!--                                </ul>-->
                        <!--                                <ul class="list-unstyled list-inline media-detail pull-right">-->
                        <!--                                    <li class=""><a href="">Like</a></li>-->
                        <!--                                    <li class=""><a href="">Reply</a></li>-->
                        <!--                                </ul>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!-- COMMENT 2 - END -->


                    </div>
                </div>
            </div>
        </section>

    </div>
</main>
<footer th:replace="fragments/fragment::footer"></footer>
</body>
</html>