.carousel-item {
    height: 80vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background-image-1{
    background-image:url("../images/carousel-img1.jpg");
}

.background-image-2{
    background-image:url("../images/carousel-img2.jpg");
}
.background-image-3{
    background-image:url("../images/carousel-img3.jpg");
}
.background-image-4{
    background-image:url("../images/carousel-img4.jpg");
}
.background-image-5{
    background-image:url("../images/carousel-img5.jpg");
}
.background-image-6{
    background-image:url("../images/carousel-img6.jpg");
}

.absolute-box-center{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.title-box{
    top: 200px;
}

.title-box h1{
    font-size: 100px;
    color: white;
    font-family: 'Lora', serif;
}

.search-box{
    max-width: 300px;
    top: 430px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;

}

.articles-title{
    font-family: 'Lora', serif;
}

.card-title{
    font-family: 'Lora', serif;
}