

.carousel-item {
    height: 95vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background-image-1{
    background-image:url("../images/carousel-img1.jpg");
}

.background-image-2{
    background-image:url("../images/carousel-img2.jpg");
}
.background-image-3{
    background-image:url("../images/carousel-img3.jpg");
}
.background-image-4{
    background-image:url("../images/carousel-img4.jpg");
}
.background-image-5{
    background-image:url("../images/carousel-img5.jpg");
}
.background-image-6{
    background-image:url("../images/carousel-img6.jpg");
}

.absolute-box-center{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;

}

.title-box{
    top: 20vh;
}

.title-box h1{
    font-size: 100px;
    color: white;
    font-family: 'Lora', serif;
}

.desc-box {
    top: 60vh;
    color: white;
}

.text-blue{
    color: #005cbf;
}

.text-primary{
    color:#0275d8!important;
    cursor: pointer;

}
a.text-primary:focus,a.text-primary:hover{
    color:#025aa5;
    text-decoration: underline;
    cursor: pointer;

}





