.body_wrapper{
    display: grid;
    grid-auto-rows: auto 1fr auto;
    height: 100vh;
}


.carousel-item {
    height: 100%;
    background: no-repeat center center scroll;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    background-size: cover;
}

.hero-image {
    background-color: black; /* Used if the image is unavailable */
    height: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.background-image-1{
    background-image:url("../images/carousel-img1.jpg");
}

.background-image-2{
    background-image:url("../images/carousel-img2.jpg");
}
.background-image-3{
    background-image:url("../images/carousel-img3.jpg");
}
.background-image-4{
    background-image:url("../images/carousel-img4.jpg");
}
.background-image-5{
    background-image:url("../images/carousel-img5.jpg");
}
.background-image-6{
    background-image:url("../images/carousel-img6.jpg");
}
.background-image-7{
    background-image:url("../images/background-7.jpg");
}


.absolute-box-center{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;

}

.title-box{
    top: 20vh;
}

.title-box h1{
    font-size: 10vh;
    color: white;
    font-family: 'Lora', serif;
}

.desc-box {
    top: 60vh;
    color: white;
}

.text-blue{
    color: #005cbf;
}

.text-primary{
    color:#0275d8!important;
    cursor: pointer;

}
a.text-primary:focus,a.text-primary:hover{
    color:#025aa5;
    text-decoration: underline;
    cursor: pointer;

}

.footer-box{
    height: 5vh;
}

.register-form-wrapper{
    max-width: 300px;
}

.logout-btn{
    background: transparent;
    border: none;
}

.search-box_wrapper{
    max-width: 300px;
    margin: 100px auto;
}

#search-addon{
    background: none;
    font-size: larger;
    color: white;
}
@media (max-width: 900px) {
    #article_container {
        display: flex;
        flex-direction: column;
        max-width: 500px;
    }
}

#card{
    min-width: 330px;!important;
    max-width: 350px;
}

#profile-box{
    background-color: rgba(129, 131, 108, 0.6);
    max-width: 300px;
}

.all-users-box{
    background-color: rgba(229, 233, 202, 0.6);
}




