<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/fragment::head"></head>
<body class="body_wrapper">
<header th:include="fragments/fragment::nav-bar"></header>
<main class="background-image-6 hero-image">

    <div class="search-box_wrapper">
        <div>
            <h2 class="search-box_wrapper_text text-white text-center">
                Need A Drink?
            </h2>
        </div>
        <div>
            <div class="input-group rounded">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                       aria-describedby="search-addon"/>
                <span class="input-group-text border-1" id="search-addon"><i class="fas fa-search"></i></span>
            </div>
        </div>
    </div>
    <h2 class="text-center text-white">Cocktail of the day</h2>
    <div sec:authorize="isAuthenticated()" class="container" id="cocktail_of_the_day_container">
        <div th:object="${cocktailDetailsViewModel}" class="d-flex" id="cocktail-box">

            <img class="h-25" th:src="*{imgUrl}" id="cocktail_details_img">

            <div class="flex-column">
                <div><h3 th:text="*{name}" class=""></h3></div>
                <div><p th:text="*{description}"></p></div>
                <div><p th:text="*{preparation}"></p></div>
                <div class="d-flex justify-content-around my-3">
                    <a th:href="@{/cocktails/details/{id}(id=*{id})}" class="btn btn-dark">Details</a>
                </div>


            </div>
        </div>

    </div>
</main>
<footer th:include="fragments/fragment::footer"></footer>
<script th:src="@{js/search-bar.js}"></script>
</body>
</html>