<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/fragment::head">
</head>
<body>

<header th:include="fragments/fragment::nav-bar"></header>

<main>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-pause="false"
         data-interval="3000">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active background-image-1">
            </div>
            <div class="carousel-item background-image-2">
            </div>
            <div class="carousel-item background-image-3">
            </div>
            <div class="carousel-item background-image-4">
            </div>
            <div class="carousel-item background-image-5">
            </div>
            <div class="carousel-item background-image-6">
            </div>
        </div>
    </div>
    <div class="title-box absolute-box-center">
        <h1>Need A Drink?</h1>
    </div>
    <div class="absolute-box-center desc-box">
        <h1>Welcome to Need A Drink?</h1>
        <h3><a class="text-primary" th:href="@{/users/login}">Login</a> if you have an
            account.</h3>
        <h3><a class="text-primary" th:href="@{/users/register}">Register</a> if you
            don't.</h3>
    </div>
</main>
<footer th:include="fragments/fragment::footer"></footer>
</body>
</html>